# Dependencias y builds
node_modules/
.next/
out/
.turbo/
dist/

# Entornos/secretos
.env*
!.env.example

# Logs y cache
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
.cache/

# IDE/OS
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Vercel CLI
.vercel/
